Intermediate
DerivedDataCache
!/Saved/
Binaries
Build/
Saved/Logs
Saved/Config/CrashReportClient
Saved/Cooked
Saved/Crashes
Saved/EditorCooked
Saved/StagedBuilds
# Mac OS X
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*